.menu-page {    
    h1 {
        margin: 0;
        font-size: 40px;
    }
    
    .p-small {
        font-size: 14px;
    }
    
    ul {
        padding: 0;
    
        ul {
            padding-left: 20px;
        }
    }

    .secondary-menu {
      border-top: none;
    }
    
    .social-media-list li {
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    
    .social-media-list li img {
        margin-right: 6px;
    }
    
    .social-media-list li:not(:last-child) {
        margin-bottom: 15px;
    }

    .menu-header {
        background: white;
        padding-top: 16px;
        padding-bottom: 16px;

        h2 {
            @include global-gutter;
            @include global-max-width;
        }
    }

    .menu-page-details {
        @include global-gutter;
        @include global-max-width;

        margin-top: 16px;

        .delivery-information {
            margin-top: 16px;
        }
    }

    .menu {
        .menu-search-container {
            border-top: 1px solid $bg-light-gray;
            border-bottom: 1px solid $bg-light-gray;
        }

        .menu-search {
            @include global-gutter;
            @include global-max-width;

            margin-top: 9px;
            margin-bottom: 10px;

            .menu-search-items {
                position: relative;
            }

            .search-icon-container {
                height: 100%;
                display: flex;
                align-items: center;
                position: absolute;
                top: 0px;
                left: 0;
                padding: 0 10px;
                pointer-events: none;

                &:after {
                    content: "";
                    display: block;
                    height: 60%;
                    width: 1px;
                    margin-left: 10px;
                    background: $bg-light-gray;
                }
            }

            svg {
                color: #aaa;
                font-size: 16px;
            }

            .menu-search-input {
                width: 100%;
                max-width: 400px;
                border-radius: 3px;
                border: 1px solid #e1e1e1;
                font-size: 16px;
                padding: 7px 10px 8px;
                padding-left: 47px;
            }
        }
    }
    
    .menu-categories {
        @include global-gutter;
        @include global-max-width;

        .menu-category {
          padding-top: 32px;
        }

        .menu-options {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            grid-gap: 16px;
            margin-top: 32px;

            .no-menu-search-results {
                justify-self: start;
            }
        }
    
        .menu-option {
            width: 100%;
            border-radius: 3px;
            box-shadow: 1px 3px 6px 4px hsla(0, 0, 0%, 0.08);
            background: white;

            .option-header {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .option-heading, .option-price {
                    padding: 16px;
                    font-size: 16px;
                }

                .option-heading {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    white-space: nowrap;
                    padding-right: 0;

                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        background: $bg-light-gray;
                        height: 1px;
                        margin: 0 20px;
                    }
                }

                .option-price {
                    font-weight: bold;
                    padding-left: 0;
                }

                .header-border {
                    width: 100%;
                    height: 2px;
                }
            }

            .menu-option-body {
                padding: 16px;

                .menu-option-description {
                    margin-bottom: 16px;
                }

                .menu-option-list-heading {
                    color: $bg-dark-gray;
                    font-size: 16px;
                    margin-bottom: 4px;
                }

                .menu-option-food-items {
                    padding-left: 16px;
                }
            }

            .menu-option-food-item {
                $dot-size: 4px;
                padding-left: (2*$dot-size);
                font-size: 14px;
                color: $bg-dark-gray;

                .food-item-text {
                    &:first-of-type {
                        display: flex;
                        align-items: center;
                        margin-left: -(2*$dot-size);

                        &:before {
                            content: "";
                            display: block;
                            height: $dot-size;
                            width: $dot-size;
                            margin-right: $dot-size;
                            border-radius: 50%;
                            background-color: #aaa;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }

        @media (min-width: 1100px) {
            grid-template-columns: repeat(auto-fill, 360px);
            justify-content: center;
        }
    }  
}