.card {
  img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  border: 1px solid var(--bg-grey);
  border-radius: 20px;

  p {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .fa-angle-right {
    font-size: 16px;
    margin-left: 4px;
  }

  a {
    font-weight: bold;
  }

  .copy {
    padding: 32px;
  }
}