.home-page {
  .home-page-header {
    background: 
      linear-gradient(315deg, rgba(102, 255, 204, 1.0), transparent),
      linear-gradient(45deg, rgba(159, 255, 255, 1.0), transparent),
      linear-gradient(135deg, rgba(28, 203, 155, 1.0), transparent);
    background: linear-gradient(45deg, rgba(159, 255, 255, 1.0), rgba(159, 255, 255, 1.0));
    padding: 32px 16px;

    p {
      margin-top: 12px;
    }

    .cta-wrapper {
      margin-top: 12px;
    }
  }

  .product-summary-list {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0;
    max-width: 1080px;

    li {
      display: flex;
      flex-direction: column;
      padding: 0px var(--bg-gutter);

      img {
        height: 280px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      svg {
        font-size: 24px;
        width: 30px;
        margin-right: 8px;
      }

      h2 {
        margin-top: 16px;
      }

      .product-summary-copy {
        p {
          margin-top: 8px;
        }
      }
    }

    .premade-item {
      svg {
        color: var(--bg-purple);
      }
    }

    .customizable-item {
      svg {
        color: var(--bg-blue);
      }
    }

    .green-item {
      svg {
        color: var(--bg-green);
      }
    }
  }
}