body.mobile-menu-open {
    overflow: hidden;
}

.bg-header {
    @include global-gutter;

    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #1cebc1;
    
    .logo-and-name-wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }

    .morning-surprise-logo {
        background: 50% 50% / cover no-repeat url("../../assets/logo.png");
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 0;
        flex: 0 0 auto;
    }
    
    .logo-and-name-wrapper h2 {
        font-size: 22px;
        margin-left: 12px;
    }

    #toggleMobileMenuButton {
        border: 1px solid transparent;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        margin-left: auto;

        .hamburger-icon {
            position: relative;
            bottom: 0;
        }

        .hamburger-icon-line {
            width: 24px;
            height: 2px;
            background-color: white;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    .mobile-header-nav {
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: calc(100vh - 70px);
        background: #333;
        overflow-y: auto;

        .mobile-header-menu {
            padding: 14px 0;
            margin-top: 14px;

            .menu-item {
                display: block;
                margin: 0 48px;
            }
        }

        .header-link {
            display: block;
            position: relative;
            font-size: 22px;
            color: white;
            text-align: center;
            padding: 14px 0;
            width: 100%;
            text-decoration: none;
            color: #e0e0e0;

            &.selected {
                font-weight: bold;
                color: white;
            }
        }
    }

    .desktop-header-nav {
        display: none;
    }
}